<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Commercial | Houston Texas Real Estate Services</title>
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <div class="grid-container full">
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu align-right navbar-menu navtext" data-dropdown-menu>
            <li>
              <a href="properties.html">PROPERTIES FOR SALE</a>
            </li>
            <li>
              <a href="properties.html">PROPERTIES FOR LEASE</a>
            </li>
            <li>
              <a href="property-management.html">PROPERTY MANAGEMENT</a>
            </li>
            <li>
              <a href="client-portal.html">CLIENT PORTAL</a>
            </li>
            <li>
              <a href="https://marqg.github.io/Project-Le">INVESTORS</a>
            </li>

          </ul>
        </div>
      </div>
      <!-- Hero Image section -->
      <div class="hero-section">
          <div class="row">
            <div class="small-12 columns align-self-middle">
              <div class="row">
                <div class=" medium-5 columns">
                  <div class="hero-section-text">
                    <h2>Experience You Trust.</h2>
                    <h2>Results You Rely On.</h2>
                    <h2>Exclusivity You Need.</h2>
                    <hr>
                    <h1>LE COMMERCIAL</h1>
                    <br>
                    <h4>Backed by LE CAPTIAL</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

    <!-- Info Section 1 - The Team -->
    <section class="info-section-one">
      <div class="grid-container">
        <div class="large-12 cell">
          <div class="grid-x grid-padding-x grid-margin-y">
            <div class="medium-3 cell">
              <img src="http://via.placeholder.com/250x250" alt="">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique officia neque quam hic.
              </p>
            </div>
            <div class="medium-3 cell">
              <img src="http://via.placeholder.com/250x250" alt="">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique officia neque quam hic.
              </p>
            </div>
            <div class="medium-3 cell">
              <img src="http://via.placeholder.com/250x250" alt="">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique officia neque quam hic.
              </p>
            </div>
            <div class="medium-3 cell">
              <img src="http://via.placeholder.com/250x250" alt="">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique officia neque quam hic.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Info Section 2 -->
    <section class="info-section-two">
      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y">
          <div class="large-12 cell">
            <div class="grid-x">
              <div class="medium-12 cell info-section-two-headline">
                <h2>Careers</h2>
                <p>

                  LE COMMERCIAL REAL ESTATE SERVICES is rapidly growing Houston-based full-service commercial real estate brokerage firm that
                  specializes in income-producing properties throughout the state of Texas. If you are looking for a career
                  path in working with top professionals in the real estate industry, and a senior management team with deep
                  real estate relationships developed over the last decade, LE Commercial Real Estate Services might be the
                  right place for you!
                </p>
                <h3>Current Positions Being Considered.</h3>
                <ul>
                  <li>Commercial Real Estate Investment Sales Agent</li>
                  <li>Commercial Real Estate Leasing Agent</li>
                  <li>Commercial Marketing Coordinator</li>
                  <li>Commercial Real Estate Administrative Assistant</li>
                  <li>Property Management Assistant</li>
                </ul>
                <p>Please submit your resume to
                  <a style="color:#C30712;" href="mailto:careers@LE-commercial.com">careers@LE-commercial.com</a>, or fax to (832) 213-1311.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>


    <!-- Footer -->
    <footer>
      <div class="grid-container full">
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="large-3 cell text-right">
            <div class="footer-navbar">
              <ul class="vertical menu navbar-menu ">
                <li>
                  <a href="/index.html">Home</a>
                </li>
                <li>
                  <a href="properties.html">Properties</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <a href="about-us.html">About Us</a>
                </li>
                <li>
                  <a href="contact-us.html">Contact Us</a>
                </li>
                <li>
                  <a href="our-team.html">Our Team</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="large-3 cell text-left navdiv">
            <h5>LE Commercial Real Estate</h5>
            <p>11757 Katy Freeway, Suite 1300</p>
            <p>Houston, TX 77079</p>
            <p>
              <i class="fas fa-building"></i> +1 713-996-8888</p>
            <p>
              <i class="fas fa-phone"></i> +1 800-608-7050</p>
            <p>
              <i class="fas fa-fax"></i> +1 832-213-1311</p>
            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@le-commercial.com">info@le-commercial.com</a>
            </p>
            <div class="footer-follow">
              <h6>Follow Us</h6>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square fa-5x"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square fa-5x"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram fa-5x"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-4 cell text-left opportunity">
            <h5>Exclusive Opportunities</h5>
            <p>Enter your information to receive the latest properties opportunities
            </p>
            <form id="footer-form">
              <input type="text" name="Name" placeholder="First and Last Name" required>
              <input type="radio" name="PersonOfInterest" value="Investor" id="investor" required>
              <label for="PersonOfInterest" required>Investor</label>
              <input type="radio" name="PersonOfInterest" value="Agent" id="agent">
              <label for="PersonOfInterest" required>Agent</label>
              <input type="email" name="subscribe-email" placeholder="Email Address" required>
              <input type="tel" name="PhoneNumber" placeholder="Phone Number" required>
              <button class="button small" type="submit">Submit</button>
            </form>
            <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
            <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
          </div>

          <div class="small-12 cell text-center Copywrite">

            <p>© 2018, LE Realty Partners, LLC This information has been secured from sources we believe to be reliable, but
              LE Realty Partners, LLC or any affiliated companies, not limited to, all agents, independent associate, subsidiary,
              or employees make no representations or warranties, expressed or implied, as to the accuracy of the information.
              References to square footage or age are approximate. Buyer must verify the information that bears all risk
              for any inaccuracies. This information is subject to change without notice
            </p>
            <p>© 2018 LE Commercial Inc. All rights reserved</p>
          </div>
        </div>
      </div>
  </div>
  </footer>

  <script src="../assets/bower_components/jquery/dist/jquery.js"></script>
  <script src="../assets/bower_components/what-input/dist/what-input.js"></script>
  <script src="../assets/bower_components/foundation-sites/dist/js/foundation.js"></script>
  <script src="../assets/js/app.js"></script>
</body>

</html>