<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Commercial | Houston Texas Real Estate Services</title>
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <div class="grid-container full">
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu align-right navbar-menu navtext" data-dropdown-menu>
            <li>
              <a href="properties.html">PROPERTIES FOR SALE</a>
            </li>
            <li>
              <a href="properties.html">PROPERTIES FOR LEASE</a>
            </li>
            <li>
              <a href="property-management.html">PROPERTY MANAGEMENT</a>
            </li>
            <li>
              <a href="client-portal.html">CLIENT PORTAL</a>
            </li>
            <li>
              <a href="https://marqg.github.io/Project-Le">INVESTORS</a>
            </li>

          </ul>
        </div>
      </div>
      <!-- Hero Image section -->
      <div class="hero-section">
        <div class="row">

          <div class="small-12 columns align-self-middle">
            <div class="row">
              <div class="medium-5 columns">
                <div class="hero-section-text">
                  <h3>Le Commercial Logo</h3>
                  <h5>Experienced. Exclusive Access. Proven Results.
                  </h5>
                </div>
              </div>
              <div class="columns">

              </div>
            </div>
          </div>
        </div>

    </header>


        <!-- Info Section 2 -->
        <section class="info-section-two">
          <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-y">
              <div class="large-12 cell">
                <div class="grid-x">
                  <div class="medium-12 cell info-section-two-headline">
                    <div id="buildout"></div>
                    <script type="text/javascript" src="//buildout.com/api.js?v8"></script>
                    <script type="text/javascript">
                      BuildOut.embed({
                        token:     "26c2d42db92dd0bb7b9e159534dfdd11adfb3f4b",
                        plugin:    "inventory",
                        target:    "buildout"
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Footer -->
    <footer>
      <div class="grid-container full">
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="large-3 cell text-left">
            <h5>LE Commercial Real Estate</h5>
            <p>11757 Katy Freeway, Suite 1300</p>
            <p>Houston, TX 77079</p>
            <p>
              <i class="fas fa-building"></i> +1 713-996-8888</p>
            <p>
              <i class="fas fa-phone"></i> +1 800-608-7050</p>
            <p>
              <i class="fas fa-fax"></i> +1 832-213-1311</p>
            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@le-commercial.com">info@le-commercial.com</a>
            </p>
            <div class="footer-follow">
              <h6>Follow Us</h6>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-2 cell text-left">
            <div class="footer-navbar">
              <ul class="vertical menu navbar-menu">
                <li>
                  <a href="../index.html">Home</a>
                </li>
                <li>
                  <a href="properties.html">Properties</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <a href="about-us.html">About Us</a>
                </li>
                <li>
                  <a href="contact-us.html">Contact Us</a>
                </li>
                <li>
                  <a href="our-team.html">Our Team</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-3 cell text-left">
            <p>© 2018, LE Realty Partners, LLC This information has been secured from sources we believe to be reliable, but LE Realty Partners,
              LLC or any affiliated companies, not limited to, all agents, independent associate, subsidiary, or employees make no representations
              or warranties, expressed or implied, as to the accuracy of the information. References to square footage or age are approximate.
              Buyer must verify the information that bears all risk for any inaccuracies. This information is subject to change without notice
            </p>
          </div>
          <div class="large-4 cell text-left">
            <h5>Exclusive Opportunities</h5>
            <p>Enter your email address to be added to our database and recieve latest available properties for sale and lease
              opportunities
            </p>
            <form id="footer-form">
              <input type="text" name="subscribe-email">
              <button class="button" type="submit">Submit</button>
            </form>
          </div>
          <div class="small-12 cell text-center">
            <p>© 2018 LE Commercial Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="assets/bower_components/jquery/dist/jquery.js"></script>
    <script src="assets/bower_components/what-input/dist/what-input.js"></script>
    <script src="assets/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>
