<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Commercial | Houston Texas Real Estate Services</title>
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <div class="grid-container full">
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu align-right navbar-menu navtext" data-dropdown-menu>
            <li>
              <a href="properties.html">PROPERTIES FOR SALE</a>
            </li>
            <li>
              <a href="properties.html">PROPERTIES FOR LEASE</a>
            </li>
            <li>
              <a href="property-management.html">PROPERTY MANAGEMENT</a>
            </li>
            <li>
              <a href="client-portal.html">CLIENT PORTAL</a>
            </li>
            <li>
              <a href="https://marqg.github.io/Project-Le">INVESTORS</a>
            </li>

          </ul>
        </div>
      </div>
      <!-- Hero Image section -->
      <div class="hero-section">
        <div class="row">

          <div class="small-12 columns align-self-middle">
            <div class="row">
              <div class="medium-5 columns">
                <div class="hero-section-text">
                  <h3>Le Commercial Logo</h3>
                  <h5>Experienced. Exclusive Access. Proven Results.
                  </h5>
                </div>
              </div>
              <div class="columns">

              </div>
            </div>
          </div>
        </div>

    </header>


        <!-- Info Section 3 -->
        <section class="info-section-three">
            <div class="grid-container">
                <div class="grid-x grid-padding-x grid-margin-y">
                    <div class="large-12 cell">
                        <div class="grid-x">
                            <div class="medium-12 cell info-section-three-headline">
                                <h2>OUR SERVICES</h2>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 cell">
                        <div class="grid-x grid-padding-x grid-margin-y text-left">
                            <div class="medium-4 cell">
                                <h3 class="text-center">Advisory Services</h3>
                                <img src="http://via.placeholder.com/250x250" alt="">
                                <p>
                                    LE Commercial Real Estate Services provides a wide array of real estate advisory and consultation services to all types of
                                    investors with various needs. Our advisors know that each investor has different objectives
                                    and portfolio strategies, from addressing property operating issues, an aggressive leasing
                                    plan aimed to increase occupancy in a high vacancy submarket, to disposing and selling
                                    of a distress commercial building for lending institution. We pride ourselves on having
                                    a solution for any type of client that might request our services. We offer commercial
                                    real estate consultation with the property owner’s key objectives in mind, and that is
                                    specific to the asset, property portfolio, with the property’s specific submarket strengths
                                    and weakness in consideration.
                                </p>
                                <ul>
                                    <li>Broker Opinion of Value</li>
                                    <li>Asset Valuation and Analysis</li>
                                    <li>Buy-Sell-Hold Strategy Consultation</li>
                                    <li>Investment Portfolio and Strategy</li>
                                    <li>Market Positioning and Submarket Analysis</li>
                                    <li>Development and Redevelopment Feasibility Studies</li>
                                    <li>Property NNN and Expense Reduction Analysis</li>
                                </ul>
                            </div>
                            <div class="medium-4 cell">
                                <h3>Investment Sales</h3>
                                <img src="http://via.placeholder.com/250x250" alt="">
                                <p>
                                    LE Commercial Real Estate investment Sales Division is committed to providing our exclusive listings to sell with the broadest
                                    exposure to the most active commercial real estate buyers in the market place. Our focus
                                    is to implement a specific marketing plan for each of our commercial sales listing, so
                                    that the property listing will receive national market exposure to active buyers, as
                                    well as international capital looking to place money into U.S. real estate assets. We
                                    understand that selling commercial real estate properties in today’s marketplace requires
                                    more than an internet posting and waiting for a buyer to call, we believe a brokerage
                                    firm should be proactive in creating a market for any property. Therefore our firm is
                                    dedicated to a marketing plan of action with communication accountability to our clients,
                                    matched with expert advice to ensure smooth transaction and a top market sales price.
                                </p>
                                <ul>
                                    <li>Broker Opinion of Value</li>
                                    <li>Custom Sales Marketing Campaign</li>
                                    <li>Asset Valuation and Analysis</li>
                                    <li>Market Positioning and Buy-Sell Strategy</li>
                                    <li>Market and Submarket Analysis</li>
                                    <li>Identification of Qualified Buyers</li>
                                    <li>Professional Marketing Sales Brochure</li>
                                    <li>Negotiation and Preparation of Documents</li>
                                </ul>
                            </div>
                            <div class="medium-4 cell">
                                <h3>Leasing Services</h3>
                                <img src="http://via.placeholder.com/250x250" alt="">
                                <p>
                                    LE Commercial real estate services Leasing Division has one primary focus – to get the property to maximum occupancy with
                                    the best tenant quality and lease structures. Our team achieves this by proactively working
                                    on a custom marketing and leasing campaign, to expose our client’s properties to the
                                    widest range of national, regional, and local tenants that are actively looking to expand
                                    or re-locate their businesses. This focus has allowed all our commercial real estate
                                    property owners to have the highest net operating income that is possible to achieve
                                    at any point in time in the any real estate cycle or market.
                                </p>
                                <ul>
                                    <li>Broker Opinion of Value</li>
                                    <li>Custom Sales Marketing Campaign</li>
                                    <li>Asset Valuation and Analysis</li>
                                    <li>Market Positioning and Buy-Sell Strategy</li>
                                    <li>Market and Submarket Analysis</li>
                                    <li>Identification of Qualified Buyers</li>
                                    <li>Professional Marketing Sales Brochure</li>
                                    <li>Negotiation and Preparation of Documents</li>
                                </ul>
                            </div>
                            <div class="medium-6 cell">
                                <h3>Property Management Services</h3>
                                <img src="http://via.placeholder.com/250x250" alt="">
                                <p>
                                    LE Commercial real estate property management services consist of a strong team of professionals that has years of commercial
                                    real estate operating experience. Our team has exclusive access to key vendor relationships
                                    to keep property owner and tenant’s operating expense costs low. Our property management
                                    team has a firm commitment to excellent communication, property responsiveness, coupled
                                    with innovative tools so that the property owner may utilize his time to focus on other
                                    investment opportunities and business priorities.
                                </p>
                                <ul>
                                    <li>Property Expense / NNN Reduction Analysis</li>
                                    <li>Conducting Monthly On-Site Inspections</li>
                                    <li>Collection of Rent &amp; Lease Payments </li>
                                    <li>Payment and Protest of Property Taxes</li>
                                    <li>Coordination of Vendor &amp; Professional Services</li>
                                    <li>Electricity Reduction &amp; Usage Analysis</li>
                                    <li>Repair &amp; Maintenance Supervision</li>
                                    <li>Administration of Major Repairs and Improvements</li>
                                    <li>24-Hour, 7-Days a Week Emergency Response</li>
                                </ul>

                            </div>
                            <div class="medium-6 cell">
                                <h3>Professional Management Accounting &amp; Reporting</h3>
                                <img src="http://via.placeholder.com/250x250" alt="">
                                <p>
                                    Our accounting and property management reports are precise and comprehensive. We procure timely and accurate financial reports
                                    to our property management clients so that they are well informed on how their properties
                                    are performing. Our property managers have the years of experience to give our property
                                    owners dependable advice for them to have confidence to not worry about the day-to-day
                                    property operations. By taking on the day-to-day operations for the property, we allow
                                    the owner to focus on investing, while our property management teams focuses on the annual
                                    budget and efficient performance of our client’s property portfolio.
                                </p>
                                <ul>
                                    <li>Detail Tenant Rent Roll</li>
                                    <li>Check / Deposit Listing</li>
                                    <li>Profit &amp; Loss Reports – Actual Monthly &amp; Year-to-Date</li>
                                    <li>Cash Flow Reports – Including Month-to Date Comparison</li>
                                    <li>12 Months Recap on Profit &amp; Loss Statements</li>
                                    <li>Reconciliation – Quarterly &amp; Annual CAM Reconciliation</li>
                                    <li>Annual Budget Analysis and Next-Year Budget Plan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->


        <!-- Footer -->
    <footer>
      <div class="grid-container full">
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="large-3 cell text-left">
            <h5>LE Commercial Real Estate</h5>
            <p>11757 Katy Freeway, Suite 1300</p>
            <p>Houston, TX 77079</p>
            <p>
              <i class="fas fa-building"></i> +1 713-996-8888</p>
            <p>
              <i class="fas fa-phone"></i> +1 800-608-7050</p>
            <p>
              <i class="fas fa-fax"></i> +1 832-213-1311</p>
            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@le-commercial.com">info@le-commercial.com</a>
            </p>
            <div class="footer-follow">
              <h6>Follow Us</h6>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-2 cell text-left">
            <div class="footer-navbar">
              <ul class="vertical menu navbar-menu">
                <li>
                  <a href="../index.html">Home</a>
                </li>
                <li>
                  <a href="properties.html">Properties</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <a href="about-us.html">About Us</a>
                </li>
                <li>
                  <a href="contact-us.html">Contact Us</a>
                </li>
                <li>
                  <a href="our-team.html">Our Team</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-3 cell text-left">
            <p>© 2018, LE Realty Partners, LLC This information has been secured from sources we believe to be reliable, but LE Realty Partners,
              LLC or any affiliated companies, not limited to, all agents, independent associate, subsidiary, or employees make no representations
              or warranties, expressed or implied, as to the accuracy of the information. References to square footage or age are approximate.
              Buyer must verify the information that bears all risk for any inaccuracies. This information is subject to change without notice
            </p>
          </div>
          <div class="large-4 cell text-left">
            <h5>Exclusive Opportunities</h5>
            <p>Enter your email address to be added to our database and recieve latest available properties for sale and lease
              opportunities
            </p>
            <form id="footer-form">
              <input type="text" name="subscribe-email">
              <button class="button" type="submit">Submit</button>
            </form>
          </div>
          <div class="small-12 cell text-center">
            <p>© 2018 LE Commercial Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="assets/bower_components/jquery/dist/jquery.js"></script>
    <script src="assets/bower_components/what-input/dist/what-input.js"></script>
    <script src="assets/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>