/* Base Elements */
body, header{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
}
footer {
    background: rgb(240, 239, 239);
    /* background: #C30712; */
    /* color: #ffffff; */
    margin-top: 5vh;
    padding: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: black;
}
.Copywrite {
    padding: 0px;
}

a {
    color: #ffffff;
}

@font-face {
font-family: "Handelgot Bold";
src: url("./fonts/Handelgot bold - tt0768m.ttf");
}

.logo{
    height: 50px;
}

.button{
    font-size: 1.2rem;
}

.button:hover{
    background: #2f2f2f !important;
}


/* Hero Section */

.hero-section {
    /* background: url("../images/houston_skyline.jpg") 100% no-repeat; */
    background: #2f2f2f;
    /* background: url("http://via.placeholder.com/2400x1200") 100% no-repeat; */
    background-size: cover;
    overflow: hidden;
    padding: 0 30px;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.hero-section .row {
    height: 100%;
}

.hero-section .hero-section-text > h2, h1, h4{
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    font-weight: 300;
}

 h1{
    font-family: "Handelgot Bold";
    font-weight: 400;
}

.hero-section .hero-section-features {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section .hero-section-features .cell:hover {
    border-bottom: 3px purple solid;
}


/* Navbar Section */

.title-bar{
    background: #C30712;
}

.top-bar {
    background: #C30712;
    padding: 0.5rem;
}

.top-bar-left .menu {
    background: #C30712;
}

.top-bar-left .menu a {
    color: white;
    font-size: .8rem;
}

.navtext > li >a:hover{
  font-size: 0.9rem;
}



/* Info Sections */


/* Info Section 1 */

.info-section-one {
    margin-top: 10vh;
    padding: 30px;
}

.info-section-one .button{
    background: #C30712;
    border: none;
    border-radius: 5px;
    margin: 15px auto; 
}


/* Orbit Stylings */

.orbit-caption .button {
    border-radius: 25px;
    background: #D7D5D6;
    color: #C30712;
}

.info-section-two {
    margin-top: 5vh;
    padding: 30px;

}

.info-section-three {
    margin-top: 5vh;

}

/* Contact Us Section */
.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/* Form Section */

#footer-form input {
    background: #F5F5F5;
    padding: 10px;
    color: rgb(110, 109, 109);
    border: 1px solid rgb(63, 63, 63);
    border-radius: 4px;
    height: 15px;
    font-size: 10px;
}

#footer-form button, #contact-form button {
    border-radius: 4px;
    width: 30%;
    /* background: #D7D5D6;
    color: #C30712; */
    background: #C30712;
    color: white;
}

footer .menu a{
    font-size: 10px;
    padding: 0.4rem 1rem;
    color: black;
}

footer a{
    color: black;
}

footer .navdiv{
    border-left: none;
}

footer .disclaimer{
    border-left: 1px solid rgba(195, 7, 20, 0.5);
}

footer .opportunity{
    border-left: none;
}

footer h5{
    font-family: 'Montserrat', sans-serif;
    color: #C30712;
    font-weight: bolder;
}

footer p {
    margin: 5px;
}

.footer-navbar{
    text-align: left;
}


label {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (min-width: 768px)
{
   .footer-navbar
   {
      text-align: right;
   }

   footer .navdiv{
    border-left: 1px solid rgba(195, 7, 20, 0.5);
    }

    footer .opportunity{
        border-left: 1px solid rgba(195, 7, 20, 0.5);
    }
}