/* Base Elements */
header{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
footer {
    /* background: #C30712; */
    /* color: #ffffff; */
    margin-top: 5vh;
    padding: 5vh;
    height: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: black;
}

a {
    color: #ffffff;
}

@font-face {
font-family: "Handelgot Bold";
src: url("assets/css/fonts/Handelgot bold - tt0768m.ttf");
}

/* Hero Section */

.hero-section {
    background: url("http://via.placeholder.com/2400x1200") 100% no-repeat;
    background-size: cover;
    height: 35vh;
}

.hero-section .row {
    height: 100%;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section .hero-section-features {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section .hero-section-features .cell:hover {
    border-bottom: 3px purple solid;
}


/* Navbar Section */

.top-bar {
    background: #C30712;
    padding: 0.5rem;
}

.top-bar-left .menu {
    background: #C30712;
}

.top-bar-left .menu a {
    color: white;
    font-size: .7rem;
    /* font-weight: bolder; */
}

.menu a:hover{
  font-weight: bolder;
}



/* Info Sections */


/* Info Section 1 */

.info-section-one {
    margin-top: 10vh;
}


/* Orbit Stylings */

.orbit-caption .button {
    border-radius: 25px;
    background: #D7D5D6;
    color: #C30712;
}

.info-section-two {
    margin-top: 3vh;
    text-align: center;
}

.info-section-three {
    margin-top: 3vh;
    text-align: center;
}


/* Form Section */

#footer-form input {
    background: #F5F5F5;
    padding: 20px;
    color: rgb(110, 109, 109);
    border: none;
    border-radius: 25px;
    height: 25px;
}

#footer-form button, #contact-form button {
    border-radius: 25px;
    width: 45%;
    background: #D7D5D6;
    color: #C30712;
}

footer .menu a{
    font-size: 10px;
    padding: 0.4rem 1rem;
    color: black;
}

footer h5{
  font-family: 'Montserrat', sans-serif;
  color: #C30712;
  font-weight: bolder;
}

footer p {
  margin: 1px;
}
